/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #0a0d13;
    /* --color-primary: #0e1d34;
    --color-secondary: #0d42ff; */
    --color-first: #0e1d34;
    --color-second: #0d42ff; 
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  .btn-outline-dark{border-color:#ddd}
  
  .btn-primary{background-color: var(--color-first);}
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  :root {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
  }
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
  
  
  
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    /* background: #4154f1; */
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  
    border: 1px solid #fff;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    /* background: #6776f4;
    color: #fff; */
    background: #fff;
    color: #0e1d34;
  }
  .back-to-top:hover i{
    color: #0e1d34;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  
  #main {
    /* margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s; */
    margin-top: 75px;
  }
  
  @media (max-width: 1199px) {
    #main {
      /* padding: 20px; */
    }
  }
  
  @media (max-width: 1199px) {
    .mobile{display:block;}
    .desktop{display:none;}
  }
  
  @media (min-width: 1200px) {
    .mobile{display:none;}
    .desktop{display:block;}
  }
  
  .login-btn {
    display: inline-block;
    /*padding: 8px 25px; */
    padding: 5px 15px;
    border-radius: 4px;
    color: #fff; 
    transition: none;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    border: 1px solid #fff;
    margin-left: 15px;
    /* margin-left: 25px; */
    /* background: #012970;
    white-space: nowrap; */
  }
  
  .login-btn:hover {
    /* background: #65c9cd;
    color: #fff; */
    background: #fff;
    color: #012970;
  }
  
  @media (max-width: 768px) {
    .login-btn {
      margin: 0 15px 0 0;
      padding: 6px 15px;
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .logo {
    line-height: 1;
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 280px;
    }
  }
  
  .logo img {
    max-height: 26px;
    margin-right: 6px;
  }
  
  .logo span {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    font-family: "Nunito", sans-serif;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    /* height: 60px;*/
    height: 75px;
    /* box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff; */
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
    /* background: rgba(14, 29, 52, 0.9);*/
    background: rgba(14, 29, 52, 1);
    box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
  }
  .header a{
    /* color: #919191;*/
    /* color: #f6f9fe;*/
    /* color: #f8f9fa;*/
    color: #d3d3d3;
    /* font-weight:400; */
  }
  
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    /* color: #012970; */
    /* color: #919191;*/
    color: #d3d3d3;
  }
  
  /* .header .search-bar {
    min-width: 360px;
    padding: 0 20px;
  }
  
  @media (max-width: 1199px) {
  
    .header .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  
    .header .search-bar-show {
      top: 60px;
      visibility: visible;
      opacity: 1;
    }
  }
  
  .header .search-form {
    width: 100%;
  }
  
  .header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }
  
  .header .search-form input:focus,
  .header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
  }
  
  .header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .header .search-form button i {
    color: #012970;
  } */
  
  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
    /* .header-nav {
      padding: 0;
    }
  
    .header-nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    } */
  
    .header-nav li {
      position: relative;
    }
  
    /* .header-nav a,
    .header-nav a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: var(--font-primary);
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6);
      white-space: nowrap;
      transition: 0.3s;
    } 
  
    .header-nav a i,
    .header-nav a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    } */
  
    .header-nav a:hover,
    .header-nav .active,
    .header-nav .active:focus,
    .header-nav li:hover>a {
      color: #fff;
    }
  
    /* .navbar .get-a-quote,
    .navbar .get-a-quote:focus {
      background: var(--color-second);
      padding: 8px 20px;
      margin-left: 30px;
      border-radius: 4px;
      color: #fff;
    }
  
    .navbar .get-a-quote:hover,
    .navbar .get-a-quote:focus:hover {
      color: #fff;
      background: #2756ff;
    } */
  
    .header-nav .dropdown2 ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
  
    .header-nav .dropdown2 ul li {
      min-width: 200px;
    }
  
    .header-nav .dropdown2 ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 400;
      color: var(--color-first);
    }
  
    .header-nav .dropdown2 ul a i {
      font-size: 12px;
    }
  
    .header-nav .dropdown2 ul a:hover,
    .header-nav .dropdown2 ul .active:hover,
    .header-nav .dropdown2 ul li:hover>a {
      color: var(--color-second);
    }
  
    .header-nav .dropdown2:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .header-nav .dropdown2 .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .header-nav .dropdown2 .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .header-nav .dropdown2 .dropdown ul {
      left: -90%;
    }
  
    .header-nav .dropdown2 .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /* @media (min-width: 1280px) {
  
    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
  } */
  
  
  
  
  /*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
  .header-nav ul {
    list-style: none;
  }
  
  .header-nav>ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav .nav-icon {
    font-size: 22px;
    color: #fff;
    /* margin-right: 25px; */
    margin-right: 10px;
    position: relative;
  }
  
  .header-nav .nav-profile {
    color: #919191;
  }
  
  .header-nav .nav-profile img {
    max-height: 36px;
  }
  
  .header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
  }
  
  .header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
  }
  
  .header-nav .notifications {
    inset: 8px -15px auto auto !important;
  }
  
  .header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
  }
  
  .header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
  }
  
  .header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
  }
  
  .header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
  }
  
  .header-nav .messages {
    inset: 8px -15px auto auto !important;
  }
  
  .header-nav .messages .message-item {
    padding: 15px 10px;
    transition: 0.3s;
  }
  
  .header-nav .messages .message-item a {
    display: flex;
  }
  
  .header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
  }
  
  .header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
  }
  
  .header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
  }
  
  .header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
  }
  
  .header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
  }
  
  .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
  }
  
  .header-nav .profile .dropdown-header span {
    font-size: 14px;
  }
  
  .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  
  .header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  
  .header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
  }
  
  
  /*--------------------------------------------------------------
  # Override some default Bootstrap stylings
  --------------------------------------------------------------*/
  /* Dropdown menus */
  .dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
  }
  
  .dropdown-menu .dropdown-header,
  .dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
  }
  
  .dropdown-menu .dropdown-footer a {
    color: #444444;
    text-decoration: underline;
  }
  
  .dropdown-menu .dropdown-footer a:hover {
    text-decoration: none;
  }
  
  .dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
  }
  
  .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  
  .dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
  }
  
  @media (min-width: 768px) {
    .dropdown-menu-arrow::before {
      content: "";
      width: 13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 20px;
      transform: rotate(45deg);
      border-top: 1px solid #eaedf1;
      border-left: 1px solid #eaedf1;
    }
  }
  
  @-webkit-keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
    0% {
      opacity: 0;
    }
  }
  
  @keyframes dropdown-animate {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
    0% {
      opacity: 0;
    }
  }
  
  
  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  
  @media (min-width: 1200px) {
  
    #main,
    #footer_sidebar {
      margin-left: 300px;
    }
    
    /* .mobile{ display:none; }  */
  } 
  
  
  /*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
  
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
  }
  
  
  @media (max-width: 1200px) {
  
    .toggle-sidebar-btn-mobile{
      display:block;
    }
    .sidebar .toggle-sidebar-btn{
      display:none;
    }
    .toggle-sidebar .toggle-sidebar-btn {
      left: -7px;
    }
  
  }
  
  
  /* @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  } */
  
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  @media (min-width: 1200px) {
  
    #main,
    #footer_sidebar {
      margin-left: 300px;
    }
  }
  
  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }
  
  /* @media (min-width: 1200px) {
  
    .toggle-sidebar #main,
    .toggle-sidebar #footer_sidebar {
      margin-left: 0;
    }
  
    .toggle-sidebar .sidebar {
      left: -300px;
    }
  } */
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    /* padding: 10px 15px; */
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
  }
  
  .sidebar-nav .nav-link i {
    font-size: 16px;
    /* margin-right: 10px;*/
    margin-right: 5px;
    color: #4154f1;
  }
  
  .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }
  
  .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
  }
  
  .sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }
  
  .sidebar-nav .nav-link:hover i {
    color: #4154f1;
  }
  
  .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
  }
  
  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  }
  
  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
  }
  
  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  
  .sidebar-nav .nav-content a:hover,
  .sidebar-nav .nav-content a.active {
    color: #4154f1;
  }
  
  .sidebar-nav .nav-content a.active i {
    background-color: #4154f1;
  }
  
  
  
  
  
  
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  /* .footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
  }
  
  .footer .copyright {
    text-align: center;
    color: #012970;
  }
  
  .footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  } */
  
  .footer_sidebar {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    background-color: var(--color-first);
  }
  
  .footer_sidebar .copyright {
    text-align: center;
    color: #fff;
  }
  
  .footer_sidebar .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  }
  
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    font-size: 14px;
    background-color: var(--color-first);
    padding: 50px 0;
    color: white;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(13, 66, 255, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }
  
  
  
  
  
  
  
  
  
  