
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <meta name="_token" content="OKwf93lT6wkiSLx65qIYRn1L3Cmd28K6UCxUBt6O">

    <!-- Favicons -->
    <link href="https://techiefolk.com/sisterlab/public/assets/logos/favicon_grantize.png" rel="icon">
    <link href="https://techiefolk.com/sisterlab/public/assets/logos/apple-touch-icon_grantize.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <!-- <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap datepicker -->
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap dataTables -->
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/jquery-dataTables/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <!-- Slick slider -->
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/slick/slick.css" rel="stylesheet" type="text/css" >
    <link href="https://techiefolk.com/sisterlab/public/assets/thirdparty/slick/slick-theme.css" rel="stylesheet" type="text/css" >
    <!-- Template Main CSS File -->
    <link href="https://techiefolk.com/sisterlab/public/assets/css/main.css" rel="stylesheet">
    <link href="https://techiefolk.com/sisterlab/public/assets/css/style.css" rel="stylesheet">
    <link href="https://techiefolk.com/sisterlab/public/assets/css/style_responsive.css" rel="stylesheet">
    <!--<link href="assets/css/pages_backend.css" rel="stylesheet"> -->


<!-- Jquery ( Production ) -->
<!--<script src="/assets/thirdparty/jquery/production-jquery-3.7.1.min.js"></script> -->
<!-- Jquery ( Development ) -->
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/jquery/development-jquery-3.7.1.min.js"></script> 
<link href="https://techiefolk.com/sisterlab/public/assets/css/main_backend_olny.css" rel="stylesheet">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
    <div class="d-flex align-items-center justify-content-between">
        <a href="https://techiefolk.com/sisterlab/public" class="logo d-flex align-items-center">
        <!-- <img class="mobile" src="assets/images/logo.png" alt=""> -->
        <!-- <span class="d-none d-lg-block">SisterLab</span> -->
        </a>
        <i class="bi bi-list toggle-sidebar-btn mobile"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

        
                
        <li class="nav-item dropdown">
            <a href="#" class="nav-link nav-icon" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">1</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
                You have 1 new notifications
                <!-- <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a> -->
            </li>
                        <li>
                <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
                <div>
                <p></p>
                <p>0000-00-00 00:00:00</p>
                </div>
            </li>
                        <li class="dropdown-footer">
                <a href="https://techiefolk.com/sisterlab/public/admin/notifications/grantize">Grantize Notifications </a>
                <a href="https://techiefolk.com/sisterlab/public/admin/notifications/recruitphd">RecruitPhd Notifications</a>
            </li>
            </ul>
                    </li>
        <!-- End Notification Nav -->

        <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
                        </a>
                    </li>
        <!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">
            <a href="#" class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
             
            
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
                <h6>Admin</h6>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a href="https://techiefolk.com/sisterlab/public/admin/dashboard" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-person"></i>
                <span>My Dashboard</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a href="https://techiefolk.com/sisterlab/public/admin/logout" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
                </a>
            </li>

            </ul>
        </li>
        <!-- End Profile Nav -->
        
        </ul>
    </nav>

    
  </div>
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">My Account</li>
    <li class="nav-item">
      <a class="nav-link " data-bs-target="#dashboard-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Dashboard</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="dashboard-nav" class="nav-content collapse show" data-bs-parent="#dashboard-nav">
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/dashboard" class="active" >
            <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/staff" class="" >
            <span>Staff</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/staff_permissions" class="" >
            <span>Staff permissions</span>
            </a>
        </li>
      </ul>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#master-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Master Data</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="master-nav" class="nav-content collapse " data-bs-parent="#master-nav">
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/activities" class="" >
            <span>Activities</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/global_info/activity_code" class="" >
            <span>Activity Code</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/global_info/applicant_type" class="" >
            <span>Applicant Type</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/awards" class="" >
            <span>Awards</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/cfda" class="" >
            <span>Cfda</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/committees" class="" >
            <span>Committees</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/conferences" class="" >
            <span>Conferences</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/degree" class="" >
            <span>Degree</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/departments" class="" >
            <span>Departments</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/grants_type" class="" >
            <span>Grants Type</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/hobbies" class="">
            <span>Hobbies</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/jobs_benifits" class="" >
            <span>Jobs Benifits</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/journals" class="" >
            <span>Journals</span>
            </a>
        </li>
        <!-- <li>
            <a href="admin/journalsquarter" class="" >
            <span>Journals Quarter</span>
            </a>
        </li> -->
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/keywords" class="">
            <span>Keywords</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/globalinfo/languages" class="">
            <span>Languages</span>
            </a>
        </li> 
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/organizations" class="" >
            <span>Organizations</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/global_info/skill_gained" class="">
            <span>Skill Gained</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/subjects" class="">
            <span>Subjects</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/weightageparameters" class="" >
            <span>Weightage Formula</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/weightageparameters_jobs" class="" >
            <span>Weightage Formula (Jobs)</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/skillset" class="">
            <span>Skillset</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/countries" class="" >
            <span>Locations</span>
            </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#grantize-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Grantize</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="grantize-nav" class="nav-content collapse " data-bs-parent="#grantize-nav">
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/grants" class="">
            <span>Grants</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/sponsors" class="">
            <span>Sponsors</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/researchers" class="">
            <span>Researchers</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/sponsor_plan" class="">
            <span>Plans (Sponsor)</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/researcher_plan" class="">
            <span>Plans (Researcher)</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/notifications/grantize" class="">
            <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/banners/grantize" class="" >
            <span>Banners</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/testimonials/grantize" class="" >
            <span>Testimonials</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/video_testimonials/grantize" class="" >
            <span>Video Testimonials</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/whyus/grantize" class="" >
            <span>Why Grantize</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/blogs/grantize" class="">
            <span>Blogs</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/faqs/grantize" class="">
            <span>Faqs</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/pages/grantize" class="" >
            <span>Pages</span>
            </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#recruitphd-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>RecruitPhd</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="recruitphd-nav" class="nav-content collapse  " data-bs-parent="#recruitphd-nav">
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/jobs" class="">
            <span>Jobs</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/jobs/application" class="">
            <span>Jobs Application</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/recruiters" class="">
            <span>Recruiters</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/jobseekers" class="">
            <span>Jobseekers</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/recruiter_plan" class="">
            <span>Plans (Recruiter)</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/jobseeker_plan" class="">
            <span>Plans (Jobseeker)</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/notifications/recruitphd" class="">
            <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/banners/recruitphd" class="" >
            <span>Banners</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/testimonials/recruitphd" class="" >
            <span>Testimonials</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/video_testimonials/recruitphd" class="" >
            <span>Video Testimonials</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/whyus/recruitphd" class="" >
            <span>Why RecruitPhd</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/blogs/recruitphd" class="">
            <span>Blogs</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/faqs/recruitphd" class="">
            <span>Faqs</span>
            </a>
        </li>
        <li>
            <a href="https://techiefolk.com/sisterlab/public/admin/pages/recruitphd" class="" >
            <span>Pages</span>
            </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
<main id="main" class="main"> 

    

<div class="pagetitle">
    <div class="row">
      <div class="col-12 col-lg-12">
      </div>
      <div class="col-12 col-lg-12">
              </div>
    </div>
    <h1>Dashboard</h1>
</div>
<!-- End Page Title -->
<section class="section dashboard">
  <div class="row">

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card revenue-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>
            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Total <span>| Sponsors</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
              <h6>50</h6>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card sales-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Total <span>| Researchers</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
              <h6>50 </h6>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card sales-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Current <span>| Grants</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-mortarboard-fill"></i>
            </div>
            <div class="ps-3">
              <h6>50</h6>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card revenue-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Total <span>| Recruiters</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
              <h6>50</h6>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card sales-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Total <span>| Jobseekers</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-people"></i>
            </div>
            <div class="ps-3">
              <h6>50 </h6>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <div class="card info-card sales-card">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Current <span>| Jobs</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-mortarboard-fill"></i>
            </div>
            <div class="ps-3">
              <h6>50</h6>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


</main>
<!-- End #main -->
<!-- ======= Start Footer ======= -->
<footer id="footer_sidebar" class="footer_sidebar">
    <div class="copyright">
      &copy; Copyright <strong><span>Grantize</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
</footer>
<!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div class="modal fade" id="loginModal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Switch Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
        <div class="row">
          <div class="col-12">
            <div class="mb-3 text-center">
                <label for="" class="form-label">

                                      <h4>You are login with Sponsor account .</h4> 
                    if you want to login with Applicant account click this
                    <br><br>
                    <a href="" class="btn btn-outline-primary">Login with Applicant account</a>
                                      <h4>You are login with Applicant account . </h4>
                    if you want to login with Sponsor account click this
                    <br><br>
                    <a href="" class="btn btn-outline-primary">Login with Sponsor account</a>
                  
                </label>
            </div>
          </div> 
        </div>
      </div>
		</div>
	</div>
</div>

<div class="modal fade bs-modal-sm" id="exceedLimitModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="margin:200px auto;">
	<div class="modal-content" >
		<div class="modal-header" style="border:none;">         
		</div>
		<div class="modal-body text-center">
			<h3 class="modal-title">
				<strong id="exceedLimit">You are Exceed limit</strong>
			</h3>
			<br>
		</div>
		<div class="modal-footer" style="border:none;">              
			<div class="col-12">
				<button type="button" class="btn btn-success float-end" data-bs-dismiss="modal"> Ok </button>
			</div>
		</div>
	</div>        
	</div>      
</div>
 

<!-- Bootstrap CSS -->
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap/popper.min.js"></script>
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap/bootstrap.min.js"></script>
<!-- Bootstrap datepicker -->
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap dataTables -->
<!-- <script src="/assets/thirdparty/jquery-dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/thirdparty/jquery-dataTables/dataTables.bootstrap5.min.js"></script> -->

<!-- ckeditor -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<!-- Jquery validation -->
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/jquery/jquery.validate.min.js"></script>
<!-- Slick slider -->
<script src="https://techiefolk.com/sisterlab/public/assets/thirdparty/slick/slick.js" type="text/javascript" charset="utf-8"></script>

<!-- Template Main JS File -->
<script src="https://techiefolk.com/sisterlab/public/assets/js/main.js"></script>
<script type="text/javascript">

	$.ajaxSetup({
		headers: {
			'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
		}
	});

</script>

 


<script type="text/javascript">

    //$(document).ready(function(){
    function formatResult(item) {
          if (!item.id) {
              return item.text; 
          }
          //console.log(item);
          var dp = item.dp;
          var dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp_default.png';
          if(item.dp!=null){
              dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp/'+ item.dp;
          }
          var full_name = item.first_name;
          var organization_name = item.organization.name;
          var location = '';
          if(item.city != null){
              location = item.city.name +' '+ item.state.name +' '+ item.country.name;
          }else if(item.state != null){
              location = item.state.name +' '+ item.country.name;
          }else if(item.country != null){
              location = item.country.name;
          }else{
              location = '';
          }
  
          var $item = $('<div class="formatResultUser">'+
              '<img src="'+ dp_src +'" alt="'+ dp +'"/>'+
              '<div class="textdiv">'+
                  '<span class="full_name">' + full_name + ' <span class="location">' + location + '</span></span>'+
                  '<span class="organization">' + organization_name + '</span>'+
              '</div>'+
          '</div>');
  
          return $item;
    }
    function formatSelection(item) {
        if (!item.id) {
            return item.text; 
        }
        if (item.selected) {
            var dp = item.element.getAttribute('data-dp');
            var dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp_default.png';
            if(dp!=''){
                dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp/'+ dp;
            }
            var full_name = item.element.getAttribute('data-name');
            var location = item.element.getAttribute('data-country_name');
            var organization_name = item.element.getAttribute('data-organization_name');  
        }
        else{
            var dp = item.dp;
            var dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp_default.png';
            if(item.dp!=null){
                dp_src = 'https://techiefolk.com/sisterlab/public/assets/users/dp/'+ item.dp;
            }
            var full_name = item.first_name;
            var organization_name = item.organization.name;
            var location = '';
            if(item.city != null){
                location = item.city.name +' '+ item.state.name +' '+ item.country.name;
            }else if(item.state != null){
                location = item.state.name +' '+ item.country.name;
            }else if(item.country != null){
                location = item.country.name;
            }else{
                location = '';
            }
        }

        var $item = $('<div class="formatResultUser">'+
                '<img src="'+ dp_src +'" alt="'+ dp +'"/>'+
                '<div class="textdiv">'+
                    '<span class="full_name">' + full_name + ' <span class="location">' + location + '</span></span>'+
                    '<span class="organization">' + organization_name + '</span>'+
                '</div>'+
            '</div>');

        return $item;
    }
    //});
  
</script>


</body>
</html>